.header{
  display: flex;
  height: 7rem;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
    }
}
.main{
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  background-color: $grey-light-1;
  box-shadow: var(--shadow-dark);
  
  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
// .sidebar{
//   display: flex;
//   flex-direction: column;
//   // height: 100%;
//   flex: 0 0 18%;
//   background-color: $grey-dark-1;
//   align-items: center;
//   justify-content: space-between;
// }

.content{
  display: flex;
  flex-direction: column;
  // height: 80rem;
  flex: 0 0 18%;
  background-color: $grey-dark-1;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
  }
}

.container{
  display: flex;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}
.about-hotel{
  display: flex;
  background-color: $grey-light-2;
  justify-content: center;
  // height: 80rem;
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
  .left{
    width: 100%;
    background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto;
  @media only screen and (max-width: $bp-medium) {
 
    margin: 0;
    padding: 3rem;
    margin-right: 3rem;
   }
   @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  }
  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  margin: 5rem 0;
  background-color: $grey-light-2;
  font-size: 1.5rem;
  }
  // .rigth {
  //   width: 20%;
  //   margin: 5rem 0;
  // }
}